<aside>
  <div class="center mt-2 pb-5 logo-main">
    <img class="logo" src="/img/wiki.png" alt="logo" />
  </div>

  <nav>
    <a href="/">Main Page</a>
    <a href="/all-articles">All Articles</a>
    <form action="/" method="GET">
      <input type="text" name="search" />
      <input type="submit"/>
    </form>
    <a href="/create">Create New Article</a>
  </nav>
</aside>