<main "pt-0">
  

    <h2 class="m-0 mb-1 rounded text-center">Latests articles</h2>
    {{>notifications}}
  <section id="featured">
  {{#if articleSize}}
    {{#each articles}}
    <article>
      <h3>{{title}}</h3>
      <p>
        {{description}},&hellip;
      </p>
      <div class="text-right">
        <a href="article/{{title}}">Read more</a>
      </div>
      <hr class="p-1">
    </article>
    {{/each}}
  {{else}}
    <h3 class="text-muted text-center">No Articles</h3>
  {{/if}}
  </section>
</main>
